<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="{{ "/" | relative_url }}">
      <img src="https://odisea.nyc3.cdn.digitaloceanspaces.com/odichat/assets/logo.svg" alt="Odichat" class="h-8 w-auto">
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-base-content flex items-center">
      {% for link in site.translations[site.lang].components.navbar.links %}
      
      {% endfor %}
      <li><a href="https://dashboard.odichat.app/users/sign_in" target="_blank" class="btn btn-link">{% t components.navbar.signin %}</a></li>
      <li><a href="https://dashboard.odichat.app/users/sign_up" target="_blank" class="btn btn-outline btn-primary ">{% t components.navbar.signup %}</a></li>
    </ul>
  </div>
</div>